<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ title }}</title>
	<link rel="stylesheet" href="{{ '/css/style.css' | url }}" />
</head>
<body>
	<header>
		<h1>{{ banner | safe }}</h1>
		<p>{{ sub | safe }}</p>
	</header>
	<main>
	{{ content | safe }}
	</main>
	<footer>
		<p>
			Copy<strong>RIGHT</strong> &copy; 2022
			<a href="https://front-end.social/@mia" rel="me">Miriam $uzanne</a>
			<em>Principle Bu$ine$$ Owner & Founder</em>
			<br />
			<em>"all bu$ine$$ i$ good bu$ine$$"</em>
		</p>
	</footer>
</body>
</html>
