@use 'sass:color';

* {
  box-sizing: border-box;
}

html {
  --dark: #222;
  --light: #ccc;
  background-color: var(--light);
  color: var(--dark);
  height: 100%;
  font-size: min(1em + 0.5vw, 1.25em);
  display: grid;
  place-content: center;
}

body {
  max-width: 800px;
  border: thick outset dimgray;
  box-shadow: 1em 1em 1em orange;
  padding: 1em;
}

header {
  background: navy;
  color: white;
}

header > * {
  margin: 0;
}

header p {
  text-decoration: underline;
}

h2 {
  border-block-end: medium outset;
  text-shadow: 1px 1px 0 var(--light), 0.5em 0.5em 0.5em var(--dark);
}

footer {
  border-block-start: medium outset;
}
